<a href="https://colab.research.google.com/github/amnasyed1/507_inclass_inferential/blob/main/507wk5_inclass_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
import pandas as pd

import scipy
from scipy.stats import chi2_contingency as chi2

In [2]:
df = pd.read_csv('cms_data_ordering.csv')
df

                NPI  LAST_NAME   FIRST_NAME PARTB  DME  HHA  PMD
0        1558467555   .MCINDOE       THOMAS     Y    Y    Y    Y
1        1417051921    A BELLE            N     Y    Y    Y    Y
2        1972040137  A NOVOTNY    ELIZABETH     Y    Y    Y    Y
3        1760465553   A SATTAR     MUHAMMAD     Y    Y    Y    Y
4        1295400745     A'NEAL       BROGAN     Y    Y    N    N
...             ...        ...          ...   ...  ...  ...  ...
1508321  1205270725     SNYDER  CHRISTOPHER     Y    Y    Y    Y
1508322  1285155580     SNYDER  CHRISTOPHER     Y    Y    Y    Y
1508323  1386632016     SNYDER  CHRISTOPHER     Y    Y    Y    Y
1508324  1437267655     SNYDER  CHRISTOPHER     Y    Y    Y    Y
1508325         159        NaN          NaN   NaN  NaN  NaN  NaN

[1508326 rows x 7 columns]

In [6]:
65000000/420000

154.76190476190476

In [9]:
df['HHA'].value_counts()

Y    1337605
N     170720
Name: HHA, dtype: int64

In [10]:
df['PARTB'].value_counts()

Y    1461901
N      46424
Name: PARTB, dtype: int64

In [11]:
contingency_table = pd.crosstab(df['PARTB'], df['HHA'])
print(contingency_table)

HHA         N        Y
PARTB
N       46269      155
Y      124451  1337450

In [15]:
chi2, p, _, _ = chi2(contingency_table)
print(f"Chi2 value: {chi2}")
print(f"P-value: {p}")

Chi2 value: 372456.94233684393
P-value: 0.0